---
import { ViewTransitions } from 'astro:transitions';

import '../styles/global.css';
import SupabaseProvider from '../components/auth/SupabaseProvider.tsx';
const lang = (Astro.locals?.lang as 'pl' | 'en') ?? 'pl';

interface Props {
  title?: string;
}

import { BackToTopButton } from '@/components/BackToTopButton';
import { ThemeProvider } from '@/components/providers/ThemeProvider';
import { ModeToggle } from '@/components/ThemeToggle';

const { title = 'TripCrafti' } = Astro.props;
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/Logo_TripCrafti.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <ThemeProvider>
      <SupabaseProvider>
        <slot />
        <BackToTopButton client:load />
        <div class="fixed bottom-4 right-16">
          <ModeToggle client:load />
        </div>
      </SupabaseProvider>
    </ThemeProvider>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
